/*  Ziel: Modulares CSS, sodass kein Custom CSS aus WP mit angesprochen wird, sondern alles
    mit diesem Code läuft
*/
.border-std-round{
    border-radius:0px;
}
/* 3D Space */
.scene{
    width: 190px;
    height: 340px;
    perspective: 500px;
    background-color: transparent;
    margin: 11px;
}
/* 3D Objekt */
.card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform .4s;
    transform-style: preserve-3d;
 
    border-radius: 15px;
}
.card.is-flipped {
    transform: rotateY(180deg);
}
.card-front{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
    position: absolute;
    /* height: 100%;
    width: 100%; */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 2px 13px 2px rgba(0, 0, 0, 0.12);
    display: grid;
    max-width: 100%;
}
.card-back{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
    position: absolute;
    /* height: 310px;
    width: 160px; */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 2px 13px 2px rgba(0, 0, 0, 0.12);
    display: grid;
}
.card-front{
    grid-template-columns: 1fr;
    grid-template-rows: 200px 110px;
}
.card-back{
    transform: rotateY(180deg);
    grid-template-columns:50px 110px;
    grid-template-rows: 50px 230px 30px;
}
.card-image-front img{
    border-radius:3px;
    width: 160px;
    height: auto;
}
.card-image-back img{
    border-radius:25px;
    width: 50px;
    height: 50px;
    margin-top: 0px;
    object-fit: cover;
}
.card-image-front{
    grid-column:1;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: 150px;
}
/* Name, Vorname, Position Vorderseite*/

.card-overview-front{
    grid-column:1;
    grid-row-start: 2;
    grid-row-end: 3;
}
.card-overview-front :first-child{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color:#222;
}

.card-overview-front p {
    margin: 10px 0px 0px 0px;
    
}
.card-overview-front :last-child{
    margin-top:7px;
    font-size: 1.3em;
    color:#666;
    border-top:0.8px solid #666;
    padding-top:5px;
}

/* Name, Vorname, Position Rückseite*/

.card-overview-back hr{
    margin: -5px 20px 0px 0px;
}
.img-name-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.card-image-back{
    /* background-color: hotpink; */

}
.card-overview-back{
    /* background-color: khaki; */

}
.card-overview-back :first-child{
    margin-top:0px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color:#222;
    padding-left: 10px;
    font-weight: bold;
} 
.card-description{
    /* background-color: lavenderblush; */
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}
.card-description > p {
    margin-top: 10px;

}
.card-call-to-action{
    /* background-color: lightblue; */
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    padding: 8px 9px;
    flex-wrap: wrap;
}
.card-call-to-action img{
    height:23px;
    width:23px;
    margin:4px;
}
.card-overview :first-child{
    margin-top: 25px;
}
a:any-link{color: black;}


/* Flexcontainer für Abteilungen */
section{
    width: 641px;
    margin: auto;
    
}
.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:80px;
    justify-content: center;
    margin: auto;
}
hr{
    margin: 10px 0px 0px 0px;
}   
.card-description > ul {
    margin: 0px;
    padding-left:0em;
    list-style-position: outside;
}
html{
    font-family: Noto Sans SC;
    font-size: 62.5%;
    line-height: 1.8em;
}
p,ul,ol{
    font-size: 1.4em;
}
i{
    font-size: 2.3em;
}
h1{
    margin: 0.8em;;
    font-size:3em;
    text-align: center;  
    display: none;  
}
#card-nav{
    text-align: center;
}
#card-nav ul{
    list-style-type: none;
}
#card-nav li{
    cursor: pointer;
    display: inline-block;
    border:1px solid #800606;
    border-radius: 5px;
    padding: 5px 15px;
    margin:4px;
    color:#800606;

}
#card-nav li.selected{
    background-color:#800606;
    color:white;
    border-color:#800606;
}
#featureList{
    list-style-type: disc;
}
#featureList li{
    margin:10px;
}
body > h1{
    display: block;
}
ul > span::after{
    content: " |";
}
ul > span::before{
    content: "| ";
}
.d-none{
    display: none;
}
main{
    min-height: 100%;
}