/*  Ziel: Modulares CSS, sodass kein Custom CSS aus WP mit angesprochen wird, sondern alles
    mit diesem Code läuft
*/
/********************************************************************************
*
* Basis CSS
*
*/
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
     background: #eaeaea;
     margin: 0px;
}

/******************************************************************************** 
*
* Basis Layout
*
*/
.scene{
    width: 190px;
    height: 340px;
    margin: 11px;
    background-color: transparent;
}
.card{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.card-front, .card-back{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 2px 13px 2px rgba(0, 0, 0, 0.12);
    display: grid;
    max-width: 100%;
}
section{
    width: 641px;
    margin: auto;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
main{
    min-height: 100%;
    width:1037px;
    background: white;
    margin: auto;
    padding: 50px 198px;
}
.d-none{
    display: none;
}
/********************************************************************************
*
* CSS Animationen
*
*/
/* 3D Space */
.scene{
    perspective: 900px;
}
/* 3D Objekt */
.card{
    position: relative;
    transition: transform .45s;
    transition-delay: 150ms;
    transform-style: preserve-3d;
}
.card.is-flipped {
    transform: rotateY(-180deg);
}
.card-front{
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(0deg); /* für Firefox */
}
.card-back{
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

/********************************************************************************
*
* Layouts
*
*/

/* Allgemein */
h2{
    margin-bottom: 25px;
}
/* Layout Card Front */
.card-front{
    grid-template-columns: 1fr;
    grid-template-rows: 200px 110px;
}
.card-image-front{
    grid-column:1;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: 150px;
}
.card-overview-front{
    grid-column:1;
    grid-row-start: 2;
    grid-row-end: 3;
}
.card-overview-front :last-child{
    padding-top:5px;
}
.card-overview-front p {
    margin: 10px 0px 0px 0px;
}
.card-overview-front :last-child{
    margin-top:7px;
    border-top:0.8px solid #666;
}

/* Layout Card Back */
.card-back{
    grid-template-columns:50px 110px;
    grid-template-rows: 50px 230px 30px;
}
.card-image-back{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.card-overview-back{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-description{
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.card-call-to-action{
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    cursor: pointer;
}
.card-overview-back :first-child{
    margin-top:-3px;
}
.card-overview-back p{
    margin-top:0px;
    padding-left: 7px;
    margin-bottom: 0px; 
}
.card-description > ul {
    margin: 0px;
    padding-left:0em;
    list-style-type: none;
    list-style-position: outside;
}
.card-description > p {
    margin-top: 10px;
}
.card-description ul > li::before{
    content: "|| ";
    color: #800606;
    font-weight: bold;
}
.card-description ul > li{
    margin-bottom: 5px;
}
.card-description p{
    border-top: 0.8px solid #666;
    padding-top: 5px;
    margin-top: 8px;
}
.card-call-to-action a{
    border:1px solid #800606;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5px;        
}

/********************************************************************************
*
* Typographie
*
*/

/* Allgemein */
a:any-link{color: black;
}
html{
    font-family: Noto Sans SC;
    font-size: 62.5%;
    line-height: 1.8em;
}
p,ul,ol{
    font-size: 1.4em;
}
h2{
    text-align: center;
    font-size: 2em;
}
/* Card Vorderseite */
.card-overview-front :first-child{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color:#222;
}
.card-overview-front :last-child{
    font-size: 1.3em;
    color:#666;
}

/* Card Rückseite */
.card-overview-back p{
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color:#222;
    font-weight: bold;
}
.card-call-to-action a{
    color:#800606;
    font-size: 1.4em;
    text-align: center;
}

/********************************************************************************
*
* Bilder
*
*/

.card-image-front img{
    border-radius:3px;
    width: 160px;
    height: auto;
}
.card-image-back img{
    border-radius:25px;
    width: 50px;
    height: 50px;
    margin-top: 0px;
    object-fit: cover;
}

/********************************************************************************
*
* Navigation
*
*/
#card-nav{
    text-align: center;
}
#card-nav ul{
    list-style-type: none;
    padding:0px;
    display:flex;
    flex-wrap: wrap;
}
#card-nav li{
    cursor: pointer;
    display: inline-block;
    border:1px solid #800606;
    border-radius: 5px;
    padding: 5px 15px;
    margin:4px;
    color:#800606;
    flex-grow: 1;
}
#card-nav li.selected{
    background-color:#800606;
    color:white;
    border-color:#800606;
}

/********************************************************************************
*
* Light Box
*
*/
.light-box{
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgba(0, 0, 0, 0.7);
    cursor: initial;
}
.light-box > .content-box{
    background-color: whitesmoke;
    width: 320px;
    height:400px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    margin:auto;
    border-radius: 5px;
    padding:20px;
    display: grid;
    grid-template-columns: 80px calc(100% - 80px);
    grid-template-rows: 100px 260px;
    overflow: scroll;
}
.oflowhide{
    overflow: hidden;
}

.light-box > .content-box .card-image-lightbox{
    grid-column: 1;
    
}
.light-box > .content-box img{
    border-radius:3px;
    width: auto;
    height: 100%;
    margin-top: 0px;
    object-fit: cover;
}
/* .light-box > .content-box .card-overview-lightbox{
    background-color: cadetblue;
} */
.light-box .card-overview-lightbox p{
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color:#222;
    font-weight: bold;
}

.light-box p {
    margin: 0px;
}
.light-box .card-overview-lightbox{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 20px 60px;
    padding-left: 12px;
}
.light-box .card-overview-lightbox :first-child{
    grid-row-start: 1;
    grid-row-end: 2;
}
.light-box .card-overview-lightbox :nth-child(2){
    grid-row-start: 2;
    grid-row-end: 3;
}
.light-box .card-overview-lightbox :last-child{
    font-size: 1.2em;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    text-transform: none;
    color:#666;
    font-weight: normal;
    font-size: 1.3em;
    margin-top: 4px;
}
.light-box .contact-container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding:5px 0px 0px 0px;
}
.light-box .contact-container>div img{
    height:30px;
    width:30px;
}
.light-box .contact-container div{
    margin: 10px 0px;
    display: grid;
    grid-template-rows: 20px 20px;
    grid-template-columns: 120px calc(100% - 120px);
}
.light-box .contact-container>div p{
    text-transform: none;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    grid-row:1;
    grid-column: 1;
}
.light-box .contact-container span{
    grid-row: 2;
    grid-column: 1;
}
.light-box .contact-container>div a{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    margin-top:5px;
}

/********************************************************************************
*
* Mobile Anpassungen
*
*/

@media screen and (max-width: 850px) {
    main{
        width:100%;
        padding:50px 5px;
    }

    section{
        width:100%;
    }
    .light-box > .content-box{
        width:70%;
        height:80%;
    }
    main>p{
        padding:0px 10px;
    }
    .scene{
        margin:5px;
    }
}